*{
    box-sizing: border-box;
}
.bgimg{
    background-image: url(./Images/main1_img.jpeg);
    background-size: cover;
    background-position: center;
    filter: drop-shadow(2px 4px -1px black);
}
.heading_1{
    font-size: 60px;
    font-weight: normal;
}
.inner{
    width: 60%;
    margin: 0 auto;
}
.icon i{
    font-size: 40px;
    color: orange;
}
.bgmain2{
    background-color:#141824;
}
.icon1 svg{
    height: 70px;
    width: 70px;
    font-size: 50px;
}
.bod{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px;
}
.bkposition{
    position: relative;
}
.yellow{
    background-color: #FFB600;
    height: 35px;
    width: 183px;
    margin-left: 45px;
}
.bgab{
    position: absolute;
    left: -7px;
    top: 0;
    width: 215px;
}
.main3{
    background-color: #E8EAE3;
}
.mainin3{
    border: 2px solid red;
    margin: auto;
}
.yellow3{
    background-color: #FFB600;
    height: 35px;
    width: 210px;
    margin-left: 80px;
}
.yellow4{
    background-color: #FFB600;
    height: 45px;
    width: 210px;
    margin-left: 80px;
}
.txt{
    position: absolute;
    top: 0;
}
.icon3 svg{
    fill: #FFB600;
    height: 50px;
    width: 50px;
}
.btn1{
    background-color: #141824;
    color: white;
    border: 2px solid transparent;
}
.btn:hover{
    border-color: #141824;
    
}
.img3{
    width: 390px;
    height: 410px;
    background-image: url(./Images/main3_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.main4img img{
    height: 250px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.main6img img{
    width: 600px;
    height: 430px;
    object-fit: cover;
    object-position: center;
}
.icon3 svg{
    color: #FFB600;
}
.icon svg{
    color: #FFB600;
 width: 30px;
 height: 30px;
}
.bgform .form-control {
    background-color:#141824;
}
.form-control::placeholder{
    color: white;
}
.iconlast svg{
    height: 40px;
    width: 40px;
    color: white;
}
.bgimglast{
    background-image: url(./Images/last_img_footer.jpeg);
    background-blend-mode: multiply;
    background-color: gray;
    background-position: center;
    background-size: cover;
    height: 60vh;
}
.he{
    height: 60vh;
}